#**
 *  Hyperlinked spelling suggestions in results list
 *#

<div style="margin-left: 250px">
      #set($dym = $response.response.spellcheck.collations.size())
      #if($dym)
            #foreach($t in $response.response.spellcheck.collations)
                <h4>
                    Did you mean
                    <a href="#{url_for_home}#{lensNoQ}&q=$esc.url($t.value.collationQuery)">
                          $esc.html($t.value.collationQuery) ($esc.html($t.value.hits))</a>?
                </h4>
            #end
      #end
</div>
